@using Microsoft.AspNetCore.Components.Forms
@typeparam TProperty
<tr>
    <td width="50%" class="propertyTable" style="color:darkred;padding-left:5px;">@Name</td>
    <td width="50%" class="propertyTable">
        
        @if(typeof(TProperty) == typeof(string))
        {
            <input type="text" 
                   @bind=Value
                   style="border:0px;width:100%" />
        }
        else if(typeof(TProperty) == typeof(double) ||
                typeof(TProperty) == typeof(int))
        {
            <input type="number" @bind=Value
            style="border:0px;width:100%" />
        }
        else if(typeof(TProperty).IsEnum)
        {
            <select @bind=Value
                    style="width:100%">
                @foreach(var enumValue in Enum.GetValues(typeof(TProperty)))
                {
                    <option value="@enumValue">@enumValue</option>
                }
            </select>
        }
        else if(typeof(TProperty) == typeof(bool))
        {
            <input type="checkbox" @bind=Value />
        }

    </td>
</tr>



