<table class="propertyTable">
    <tr style="text-align:left;background-color:#F0F0F0">
        <th class="propertyTable" style="color:darkred;padding-left:5px;">Name</th>
        <th class="propertyTable" style="padding-left:5px;">Value</th>
    </tr>

    @ChildContent

</table>
